@page
@using TaskNinja.ViewComponents
@model TaskNinja.Pages.TeamsManager.TeamDetailsModel

<div class="container-fluid" style="height: 85vh;">
    <div class="row h-100">
        <div class="col-md-10 bg-secondary h-100 border border-5 border-primary rounded-3">
             @await Component.InvokeAsync("Tasks", new ComponentParams(Model.TeamTasks, Model.SortBy, Model.SortOrder, Model.HideCompleted, Model.Team.Id))
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" asp-page="/TaskManager/Create" asp-route-teamId="@Model.Team.Id">Create New Task</a>
            </div>

        </div>
        <div class="col-md-2 bg-secondary h-75 border border-5 border-primary rounded-3">
            <h2>Members</h2>
            <ul class="pl-1">
                @foreach(var member in Model.TeamMembers)
                {
                    <li>
                        <div class="d-flex row p-0">
                            <div class="col-sm d-flex justify-content-center align-items-center p-0">
                                <p class="m-0">@member._UserName</p>
                            </div>
                            <div class="col-sm d-flex justify-content-center align-items-center p-0">
                                <p class="m-0">@member.Email</p>
                            </div>
                            <div class="col-sm d-flex justify-content-center align-items-end p-0">
                                <button>Remove</button>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

    <!-- A button to open the popup form -->
    <button class="open-button" onclick="openForm()">Invite new member</button>

    <!-- The form -->
    <div class="form-popup" id="myForm">
        <form method="post" class="form-container">
            <h1>Invite member</h1>

            <label asp-for="@Model.InviteMail"><b>Email</b></label>
            <input placeholder="Enter Email" asp-for="@Model.InviteMail">

            <input type="submit" class="btn">Send invite</input>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
</div>

<style>
    /* Button used to open the contact form - fixed at the bottom of the page */
    .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 7vh;
        right: 28px;
        width: 280px;
    }

    /* The popup form - hidden by default */
    .form-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }

    /* Add styles to the form container */
    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
    }

    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

        /* When the inputs get focus, do something */
        .form-container input[type=text]:focus, .form-container input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

    /* Set a style for the submit/login button */
    .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }
</style>

<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>

