@page
@using TaskNinja.ViewComponents
@model TaskNinja.Pages.TeamsManager.TeamDetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid" style="height: 85vh;">
    <div class="row h-100">
        <div class="col-md-10 h-100 border border-5 border-secondary rounded-3 p-3 _bg-light">
             @await Component.InvokeAsync("Tasks", new ComponentParams(Model.TeamTasks, Model.SortBy, Model.SortOrder, Model.HideCompleted, Model.Team.Id))
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" asp-page="/TaskManager/Create" asp-route-teamId="@Model.Team.Id">Create New Task</a>
            </div>

        </div>
        <div class="col-md-2 h-75 border border-5 border-secondary rounded-3 _bg-light">
            <h2 class="text-center">Members</h2>
            <ul class="pl-1">
                @foreach(var member in Model.TeamMembers)
                {
                    <li>
                        <div class="d-flex row p-0">
                            <div class="col-sm d-flex justify-content-center align-items-center p-0">
                                <p class="m-0">@member._UserName</p>
                            </div>
                            <div class="col-sm d-flex justify-content-center align-items-center p-0">
                                <p class="m-0">@member.Email</p>
                            </div>
                            <div class="col-sm d-flex justify-content-center align-items-end p-0">
                                <form method="post" asp-page-handler="RemoveMember">
                                    <input type="hidden" name="userId" value="@member.Id" />
                                    <input type="hidden" name="teamId" value="@Model.Team.Id" />
                                    <button type="submit" class="btn-danger">Remove</button>
                                </form>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

    <!-- A button to open the popup form -->
    <button class="open-button" onclick="openForm()">Invite new member</button>

    <!-- The form -->
    <div class="form-popup" id="myForm">
        <form method="post" class="form-container" class="d-flex justify-content-center">
            <h1 class="text-center">Invite member</h1>
            
            <div class="form-wrapper">
                <label asp-for="@Model.InviteMail"><b>Email</b></label>
                <input placeholder="Enter Email" asp-for="@Model.InviteMail">
            </div>

            <input type="submit" class="btn" value="Send invite">
            <input type="hidden" name="teamId" value="@Model.Team.Id" />
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
</div>

<style>
    .form-wrapper {
        margin: 10px;
    }
    .form-wrapper > input {
        font-size: 1rem;
    }

    /* Button used to open the contact form - fixed at the bottom of the page */
    .open-button {
        background-color: #375a7f;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 7vh;
        right: 28px;
        width: 280px;
    }

    /* The popup form - hidden by default */
    .form-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #4F4F4F;
        z-index: 9;
    }

    /* Add styles to the form container */
    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: #434343;
    }

    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0px 22px 0px;
        border: none;
        background: #f1f1f1;
    }

        /* When the inputs get focus, do something */
        .form-container input[type=text]:focus, .form-container input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

    /* Set a style for the submit/login button */
    .form-container .btn {
        background-color: #375a7f;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: #ca5252;
        align-self: end;
        justify-self: end;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }
</style>

<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>

