@using TaskNinja.Models
@using TaskNinja.ViewComponents

@model ComponentParams

<div class="d-flex flex-row-reverse">
    <a class="btn btn-primary" asp-page="@Url.Page("OnGet")" asp-route-teamId="@Model.TeamId" asp-route-sortBy="@Model.SortBy" asp-route-sortOrder="@Model.SortOrder" asp-route-hideCompleted="@Model.SwitchHideCompleted()">@(Model.HideCompleted == "true" ? "Show Completed" : "Hide Completed")</a>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <a class="text-info" asp-page="@Url.Page("OnGet")" asp-route-sortBy="ID" asp-route-teamId="@Model.TeamId" asp-route-sortOrder="@Model.SwitchSortOrder("ID")">ID</a>
            </th>
            <th>
                <a class="text-info"asp-page="@Url.Page("OnGet")" asp-route-sortBy="Name" asp-route-teamId="@Model.TeamId" asp-route-sortOrder="@Model.SwitchSortOrder("Name")">Name</a>
            </th>
            <th style="max-width: 150px;">
                <a class="text-info"asp-page="@Url.Page("OnGet")" asp-route-sortBy="Description" asp-route-teamId="@Model.TeamId" asp-route-sortOrder="@Model.SwitchSortOrder("Description")">Description</a>
            </th>
            <th>
                <a class="text-info"asp-page="@Url.Page("OnGet")" asp-route-sortBy="CreatedDate" asp-route-teamId="@Model.TeamId" asp-route-sortOrder="@Model.SwitchSortOrder("CreatedDate")">Created Date</a>
            </th>
            <th>
                <a class="text-info"asp-page="@Url.Page("OnGet")" asp-route-sortBy="DueDate" asp-route-teamId="@Model.TeamId" asp-route-sortOrder="@Model.SwitchSortOrder("DueDate")">Due Date</a>
            </th>
            <th>
                <a class="text-info"asp-page="@Url.Page("OnGet")" asp-route-sortBy="Priority" asp-route-teamId="@Model.TeamId" asp-route-sortOrder="@Model.SwitchSortOrder("Priority")">Priority</a>
            </th>
            <th>
                <a class="text-info"asp-page="@Url.Page("OnGet")" asp-route-sortBy="Status" asp-route-teamId="@Model.TeamId" asp-route-sortOrder="@Model.SwitchSortOrder("Status")">Status</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var task in Model.Tasks)
            {
                if (task.Status == Models.Status.Completed && Model.HideCompleted == "true") continue;
                string style = "";
                if (task.Status == Models.Status.Completed) style = "info";
                if (task.Status == Models.Status.InProgress) style = "warning";
                if (task.Status == Models.Status.NotStarted) style = "dark";
                <tr class="table-@style" onclick="location.href = '@Url.Page("/TaskManager/Details", values: new { id = task.ID })'">
                    <th scope="row">@task.ID</th>
                    <td>@task.Name</td>
                    <td>@task.Description.Substring(0, Math.Min(30, task.Description.Length - 1))</td>
                    <td>@task.CreatedDate</td>
                    <td class="@(task.DueDate < DateTime.Now ? "text-danger" : "")">@task.DueDate</td>
                    <td class="@((task.Priority == Models.Priority.High && task.Status != Models.Status.Completed) ? "bg-danger" : "")">@task.Priority</td>
                    <td>@task.Status</td>
                </tr>
            }
        }
    </tbody>
</table>
